header {
	background-color: white;
    border-bottom: 1px solid #CCCCCC;
	height: 70px;
	width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    height: 60px;
    width: 120px;
}